:root {
    --d1-coler:cyan;
    --d2-coler:rgb(224, 30, 111);
}
body{
    border:4px solid rgb(255, 170, 244);
    font-family: 'Roboto Mono', monospace;
}
#dv {
    color: var(--d1-coler);
    font-size: 40px;
}
.db{
    text-align: center;
}
.dv {
    color:var(--d2-coler);
    font-size: 35px;
    text-align: center;
}
.avatar {
 text-align: center;   
}
.d2 {
    margin-top: 20px;
    background-color: rgb(224, 30, 111);
    background-clip: padding-box;
    padding: 5px;
    border: 20px solid rgba(248, 169, 193, 0.336);
    border-radius:50%;
    width: 200px;
    height: auto;
}
.dc{
    color:var(--d2-coler);
    font-size: 35px;
    text-align: center;
}